.long-text {
    padding: 1em;
    max-width: 600px;

}

.smol {
    font-size: .9em;
    color: rgb(196, 196, 196);
}

.smoller {
    font-size: .8em;
    color: rgb(148, 148, 148);
}

.smollest {
    font-size: .7em;
    color: rgb(112, 112, 112);
}

.main-form-inputs {
    margin-left: 2em;
    display: flex;
 }

.section-form-inputs {
    margin-left: 3.5em;
}

#form-results {
    margin-left: 2em
}
#result-label {
    font-size: 1em;
    font-weight: bold;
}
.code-like {
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    background-color: #171c24;
    margin: .5em;
    padding: .2em .5em;
}

.contain {
    max-width: 600px;
}
.tab {
    padding-left: 2em
}
