.form-input {
    margin: 1em;
}

.form-radio-set {
    max-width: 500px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.button-box button {
    flex: 1;
    margin: .5em;
    align-items: center;
    justify-content: center;
}

.basic-button {
    display: flex;
    background-color: #61DAFB;
    padding: 1em;
    border-radius: 1.5em;
    border-color: whitesmoke;
    font-weight: bold;
}

.basic-button:hover {
    background-color: #bdeaf7;
}

.basic-button:active {
    background-color: #4bb7d4;
}

.basic-button:disabled {
    background-color: #9e9a99;
}

.angry-button {
    font-weight: bold;
    display: flex;
    background-color: #e26650;
    padding: 1em;
    border-radius: 1.5em;
    border-color: whitesmoke;
}

.angry-button:hover {
    background-color: #e09486;
}

.angry-button:active {
    background-color: #bd422c;
}

.angry-button:disabled {
    background-color: #9e9a99;
}

.dialog {
    border-radius: 1.5em;
    width: min(500px, 100vw);
    background-color: #171c24;
    color: whitesmoke;
    position: fixed;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


/* slider */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.toggle-box {
    margin: 1em;
}

.toggle-text {
    display: block;
    margin-bottom: .5em;
}
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.5em;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 1px;
    bottom: 1px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4bb7d4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4bb7d4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }

